@model List<Department>
@{
    ViewData["Title"] = "DepartmentList";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<a href="/Employee/DepartmentAdd" target="_blank">
    <input type="button" class="btn btn-success" value="Add Department">
</a>
<div>&nbsp;</div>
<table class="table table-bordered" id="department_List">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.DepartmentName</td>
                <td>@item.DepartmentDescription</td>
                <td>
                    <a href="/Employee/DepartmentEdit/@item.IdDepartment" target="_blank">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>

                    <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" data-departmentid="@item.IdDepartment" onclick="confirmDelete(this)">
                        <i class="fa fa-trash-o"></i>
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

<!-- core js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="~/CCTema/bootstrap5/dist/assets/bundles/datatables.bundle.js"></script>

<script>
    function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to dele te this department?')) {
            var departmentid = button.getAttribute('data-departmentid');
            var form = document.createElement('form');
            form.action = '/Employee/DepartmentDelete/' + departmentid;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>

<script>
    $(document).ready(function () {
        $('#department_List')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0]
                    }
                ]
            });
    });
</script>