@model CrmCorner.Models.Department
@{
    ViewData["Title"] = "DepartmentEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<form asp-action="DepartmentEdit" method="post">
    <input type="hidden" asp-for="IdDepartment" />
    <div class="form-group">
        <label asp-for="DepartmentName"></label>
        <input asp-for="DepartmentName" class="form-control" />
        <span asp-validation-for="DepartmentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DepartmentDescription"></label>
        <input asp-for="DepartmentDescription" class="form-control" />
        <span asp-validation-for="DepartmentDescription" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<!-- core js file -->
<script src="~/CCThema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CCThema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>