@model List<UserViewModel>
@{
    ViewData["Title"] = "EmployeeList";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<table id="user_List" class="table center-aligned-table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Email</th>
            <th>Firma</th>
        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UserName</td>
                <td>@item.Email</td>
                <td>
                    <span class="badge bg-info">@item.CompanyName</span>
                    </td>
         
            </tr>
        }

    </tbody>

</table>

@section Scripts {
    <!-- core js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

    <!-- page js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/datatables.bundle.js"></script>
    <script>
     function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to dele te this employee?')) {
            var employeeid = button.getAttribute('data-employeeid');
            var form = document.createElement('form');
            form.action = '/Employee/EmployeeDelete/' + employeeid;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
       $(document).ready(function () {
            $('#user_List')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0]
                    }
                ]
            });
    });
    </script>
}

