@model CrmCorner.Models.Employee
@{
    ViewData["Title"] = "EmployeeAdd";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<form asp-action="EmployeeAdd" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="EmployeeName" class="control-label"></label>
        <input asp-for="EmployeeName" class="form-control" />
        <span asp-validation-for="EmployeeName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployeeSurname" class="control-label"></label>
        <input asp-for="EmployeeSurname" class="form-control" />
        <span asp-validation-for="EmployeeSurname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="IdPositions" class="control-label">Role</label>
        @Html.DropDownListFor(m=>m.IdPositions,(List<SelectListItem>) ViewBag.Positions,"Seçiniz",new {@class="form-select", aria_label="IdPositions",@id="IdPositions", @required="required"})
        <span asp-validation-for="IdPositions" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IdDepartment" class="control-label">Department</label>
        @Html.DropDownListFor(m=>m.IdDepartment,(List<SelectListItem>)ViewBag.Departments,"Seçiniz",new {@class="form-select", aria_label="IdDepartment",@id="IdDepartment", @required="required"})
        <span asp-validation-for="IdDepartment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployeeEmail" class="control-label"></label>
        <input asp-for="EmployeeEmail" class="form-control" />
        <span asp-validation-for="EmployeeEmail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployeePhone" class="control-label"></label>
        <input asp-for="EmployeePhone" class="form-control" />
        <span asp-validation-for="EmployeePhone" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <input type="submit" value="Add Employee" class="btn btn-primary" />
    </div>

</form>
<!-- core js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>