@model List<Position>
@{
    ViewData["Title"] = "PositionList";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<a href="/Employee/PositionAdd" target="_blank">
    <input type="button" class="btn btn-success" value="Add Position">
</a>
<div>&nbsp;</div>
<table class="table table-bordered" id="position_List">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.PositionName</td>
                <td>
                    <a href="/Employee/PositionEdit/@item.IdPositions" target="_blank">
                        <button type="button" class="btn btn-sm btn-outline-secondary">
                            <i class="fa fa-edit"></i>
                        </button>
                    </a>
                    @* <button type="button" class="btn btn-sm btn-outline-danger js-sweetalert" data-positiontid="@item.IdPositions" onclick="confirmDelete(this)">
                     <i class="fa fa-trash-o"></i>
                    </button>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- core js file -->
<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="~/themeforest-iv5iqlta-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/bundles/datatables.bundle.js"></script>

<script>
    function confirmDelete(button) {
        // Kullanıcıya silme işlemini onaylamasını sor
        if (confirm('Are you sure you want to dele te this Position?')) {
            var positiontid = button.getAttribute('data-positiontid');
            var form = document.createElement('form');
            form.action = '/Employee/PositionDelete/' + positiontid;
            form.method = 'post';
            document.body.appendChild(form);
            form.submit();
        }
    }
</script>



<script>
    $(document).ready(function () {
        $('#position_List')
            .dataTable({
                responsive: true,
                columnDefs: [
                    {
                        orderable: false,
                        targets: [0]
                    }
                ]
            });
    });
</script>