@model CrmCorner.Models.Position
@{
    ViewData["Title"] = "PositionEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

<form asp-action="PositionEdit" method="post">
    <input type="hidden" asp-for="IdPositions" />
    <div class="form-group">
        <label asp-for="PositionName"></label>
        <input asp-for="PositionName" class="form-control" />
        <span asp-validation-for="PositionName" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<!-- core js file -->
<script src="~/CCThema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CCThema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>