<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <title>CRM CORNER</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CRMCorner HR & Project Admin Dashboard Template with Bootstrap 5x">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <style>
        .logo-container {
            max-width: 100px; /* Maksimum genişlik */
            max-height: 50px; /* Maksimum yükseklik */
            display: flex;
            justify-content: center; /* Merkeze hizalama */
            align-items: center; /* Dikey hizalama */
        }

            .logo-container img {
                width: 100%;
                height: auto;
                object-fit: contain; /* Oranı koruma */
            }

        .green-light {
            box-shadow: 0 0 5px 2px #2eacb3; /* Yeşil bir gölge ekler */
            border: 1px solid #2eacb3; /* Yeşil bir kenarlık ekler */
        }

        .pink-light {
            box-shadow: 0 0 5px 2px white; /* Yeşil bir gölge ekler */
            border: 1px solid white; /* Yeşil bir kenarlık ekler */
        }

        .notification-count {
            position: absolute;
            bottom: -5px;
            right: 0;
            color: red;
            font-size: 12px;
            font-weight: bold;
        }

        #messageDropdown {
            display: none;
            position: absolute;
            top: 100%;
            right: 0;
            background-color: white;
            box-shadow: 0 8px 16px rgba(0,0,0,0.2);
            z-index: 1;
            list-style: none;
            padding: 0;
            margin: 0;
            width: 200px; /* Genişlik ayarlanabilir */
        }

            #messageDropdown li {
                padding: 8px 16px;
                border-bottom: 1px solid #ddd;
            }

                #messageDropdown li:hover {
                    background-color: #f1f1f1;
                }


        .always-open > ul {
            display: block !important;
        }

        .always-open > a {
            cursor: default;
            pointer-events: none; /* Tıklanabilirliği tamamen kaldırır */
        }
    </style>
    <link rel="icon" href="~/CRMTema/favicon.ico" type="image/x-icon">
    <!-- MAIN CSS -->
    <link href="~/CRMTema/bootstrap5/dist/assets/css/main.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)


</head>
<body>
    <div id="layout" class="theme-purple">
        <div id="wrapper">

            <!-- top navbar -->
            <nav class="navbar navbar-fixed-top">
                <div class="container-fluid">
                    <div class="logo-container">
                        <a class="nav-link" asp-controller="Home" asp-action="Index"><img src="/CRMTema/bootstrap5/dist/assets/images/crmkosesi.png" alt="Logo"></a>

                    </div>

                    <div class="navbar-btn">
                        <button type="button" class="btn-toggle-offcanvas"><i class="fa fa-bars"></i></button>
                    </div>
                    <div id="notificationDiv" class="flex-grow-1">
                        <ul class="nav navbar-nav flex-row justify-content-end align-items-center">
                            <li class="d-none d-sm-block"><a href="/Calendar/Calendar" class="icon-menu"><i class="fa fa-calendar"></i></a></li>
                            <li id="messageIcon" class="d-none d-sm-block" style="position: relative;">
                                <a href="javascript:void(0);" class="icon-menu" id="messageIconLink" onclick="toggleDropdown(event)"><i class="fa fa-comments"></i></a>
                                <span id="notificationCount" class="notification-count"></span>
                                <ul id="messageDropdown" class="dropdown-menu"></ul>
                            </li>

                            <li><a class="icon-menu" asp-controller="Member" asp-action="Logout" asp-area=""><i class="fa fa-sign-out"></i></a></li>

                        </ul>
                    </div>


                </div>
            </nav>

            <!-- Sidbar menu -->
            @if (User.Identity!.IsAuthenticated)
            {

                <div id="left-sidebar" class="sidebar">

                    <partial name="_NavbarLogin" />

                    <!-- nav tab: menu list -->
                    <ul class="nav nav-tabs text-center mb-2" role="tablist">
                        <li class="nav-item flex-fill"><a class="nav-link active" id="hr_menu_nav_link" data-bs-toggle="tab" href="#hr_menu" role="tab">Menü</a></li>
                    </ul>

                    <!-- nav tab: content -->

                    <div class="tab-content px-0">

                        <div class="tab-pane fade show active" id="hr_menu" role="tabpanel">


                            <nav class="sidebar-nav">
                                <ul class="metismenu list-unstyled">

                                    <li class="nav-item">

                                        <a asp-area="" asp-controller="SocialMedia" asp-action="Index">📋<span> Sosyal Medya</span></a>
                                    </li>
                              
                                        <li class="nav-item">

                                            <a asp-area="" asp-controller="SocialMedia" asp-action="Create">📋<span> Sosyal Medya İçerik Oluştur</span></a>
                                        </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="CompanyList">
                                            <i class="fa fa-briefcase"></i> Sistemde Kayıtlı Firmalar
                                        </a>
                                    </li>
                                    
                                 @*    <li class="always-open">
                                        <a href="javascript:void(0);"><i class="fa fa-users"></i><span>Satış</span></a>
                                        <ul class="list-unstyled">
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="Task" asp-action="Index"><i class="fa fa-tag"></i>Tümü</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="TaskStatus" asp-action="PositiveTasks"><i class="fa fa-tag"></i>Kazanılan</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-dark" asp-area="" asp-controller="TaskStatus" asp-action="NegativeTasks"><i class="fa fa-tag"></i>Kaybedilen</a>
                                            </li>
                                        </ul>
                                    </li> *@



                                   @*  <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="AfterTask" asp-action="ListPositiveSales"><i class="fa fa-tag"></i>Satış Sonrası Takibasyon</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="ToDoList" asp-action="ToDoList"><i class="fa fa-calendar"></i>Yapılacaklar</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Customer" asp-action="CustomerList"><i class="fa fa-users"></i>Müşterilerim</a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Company" asp-action="CompanyList"><i class="fa fa-briefcase"></i> Sistemde Kayıtlı Firmalar
                                        </a>
                                    </li>

                                    <li class="nav-item">

                                        <a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="EmployeeList"><i class="fa fa-users"></i>Çalışanlarımız</a>

                                    </li>


                                    <li class="nav-item">
                                        <a class="nav-link text-dark" asp-area="" asp-controller="Calendar" asp-action="Calendar"><i class="fa fa-calendar"></i>Takvim</a>
                                    </li>

                                    <li class="nav-item">
                                        <a asp-area="" asp-controller="ChatApp" asp-action="ChatApp"><i class="fa fa-comments"></i><span>Mesajlarım</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a asp-area="Admin" asp-controller="AllChart" asp-action="AllUserTaskStatusChartsView"><i class="fa fa-list-ul"></i><span>Şirket Task Analiz</span></a>
                                    </li> *@



                                </ul>
                            </nav>

                        </div>

                    </div>

                </div>
            }
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div id="main-content">
                @RenderBody()
            </div>



        </div>
    </div>

    @RenderSection("Scripts", required: false)
    <script>
        let unreadMessagesHtml = '';
        function toggleDropdown(event) {
            event.stopPropagation();
            $('#messageDropdown').toggle();

        }

        function hideDropdown() {
            $('#messageDropdown').hide();
        }


        $(document).ready(function () {

            // Her 2 saniyede bir bildirim durumunu kontrol etmek için bir fonksiyon tanımlayalım
            setInterval(function () {
                $.get('/Home/GetNotificationsStatus', function (data) {
                    var hasUnreadMessages = data.message.hasUnreadMessages;
                    var unreadSenderCount = data.message.distinctSenderIdsCount;
                    console.log(data.message.unreadMessages);
                    if (hasUnreadMessages) {

                        // Bildirim varsa yapılacak işlemler
                        // Örneğin, bir div'in arka plan rengini yeşil yapabiliriz
                        showNotificationDot();
                        $('#notificationCount').text(unreadSenderCount);
                        //var unreadMessagesHtml = '';
                        //data.message.unreadMessages.forEach(function (message) {
                        //    unreadMessagesHtml += '<li>' + message.senderId + '</li>';
                        //});
                        console.log("buraya girdi");
                        let newUnreadMessagesHtml = '';
                        data.message.unreadMessages.forEach(function (message) {
                            newUnreadMessagesHtml += `<li><a href="javascript:void(0);" onclick="redirectToUserMessages('${message.senderId}')">${message.senderName}</a></li>`;
                        });
                        if (newUnreadMessagesHtml !== unreadMessagesHtml) {
                            unreadMessagesHtml = newUnreadMessagesHtml;
                            $('#messageDropdown').html(unreadMessagesHtml);
                        }
                    } else {
                        // Bildirim yoksa yapılacak işlemler
                        // Örneğin, bir div'in arka plan rengini varsayılan hale getirebiliriz
                        hideNotificationDot();
                    }
                });
            }, 1000); // 2 saniyede bir çağıralım
        });
        function redirectToUserMessages(userId) {
            window.location.href = '/ChatApp/ChatApp';
        }
        document.addEventListener('DOMContentLoaded', function () {
            var messageIconElement = document.getElementById("messageIcon");
            messageIconElement.classList.add("pink-light");
        });

        function showNotificationDot() {
            var messageIconElement = document.getElementById("messageIcon");
            messageIconElement.classList.remove("pink-light"); // Eğer varsa pink-light sınıfını kaldır
            messageIconElement.classList.add("green-light"); // green-light sınıfını ekle

        }

        function hideNotificationDot() {
            var messageIconElement = document.getElementById("messageIcon");
            messageIconElement.classList.remove("green-light"); // Eğer varsa green-light sınıfını kaldır
            messageIconElement.classList.add("pink-light"); // pink-light sınıfını ekle

        }</script>




    <script src="~/CRMTema/bootstrap5/js/pages/index.js"></script>

</body>
@*    <!-- core js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

    <!-- page js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>*@
</html>