
@if (User.Identity!.IsAuthenticated)
{
    <div class="user-account p-3 mb-3">
        <div class="d-flex mb-3 pb-3 border-bottom align-items-center">

      
                  @*  <img src="~/userprofilepicture/defaultpp.png" class="avatar lg rounded me-3" />*@
                <div class="dropdown flex-grow-1">
                    <span>Hoşgeldin,</span>
                <a href="#" class="dropdown-toggle user-name" data-bs-toggle="dropdown"><strong>@User.Identity.Name</strong></a>
                <ul class="dropdown-menu p-2 shadow-sm">
                    <li><a asp-action="MyProfile" asp-controller="Member"><i class="fa fa-user me-2"></i> Profilim</a></li>
                    <li><a asp-action="UserEdit" asp-controller="Member"><i class="fa fa-bars"></i>  Profil Güncelle</a></li>
                    <li><a asp-action="PasswordChange" asp-controller="Member"><i class="fa fa-lock"></i>  Şifre Değiştir</a></li>
                    <li><a asp-route-returnurl="/Home/Index" asp-controller="Member" asp-action="Logout"><i class="fa fa-power-off me-2"></i>Çıkış Yap</a></li>
                </ul>
            </div>
         
        </div>
    </div>
}
else
{
    @*  <a class="btn btn-warning" asp-controller="Customer" asp-action="CustomerAdd">Firma Kayıt</a>
    <a class="btn btn-outline-warning" asp-controller="Home" asp-action="SignUp">Kullanıcı Kayıt</a>*@
    @*    <a class="btn btn-outline-success" @*asp-controller="Customer" asp-action="CustomerAdd">Firma Giriş</a>*@
    @*    <a class="btn btn-success" asp-controller="Home" asp-action="SignIn">Kullanıcı Giriş</a>
*@
}