@model CrmCorner.Models.Customer
@{
    ViewData["Title"] = "CustomerEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<form asp-action="CustomerEdit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="CompanyId" class="control-label"></label>
        <select asp-for="CompanyId" asp-items="ViewBag.CompanyList" class="form-control"></select>
        <span asp-validation-for="CompanyId" class="text-danger"></span>
    </div>
        
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<!-- core js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CCTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>