@model CrmCorner.Models.CustomerN
@{
    ViewData["Title"] = "CustomerEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<form asp-action="CustomerEdit" method="post">
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <label asp-for="Name" class="control-label">İsim</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname" class="control-label">Soyisim</label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CustomerEmail" class="control-label">Müşteri Email</label>
        <input asp-for="CustomerEmail" class="form-control" />
        <span asp-validation-for="CustomerEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerTitle" class="control-label">Pozisyon</label>
        <input asp-for="CustomerTitle" class="form-control" />
        <span asp-validation-for="CustomerTitle" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label">Telefon Numarası</label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CompanyName" class="control-label">Firma Adı</label>
        <input asp-for="CompanyName" class="form-control" />
        <span asp-validation-for="CompanyName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CompanyEmail" class="control-label">Firma Email</label>
        <input asp-for="CompanyEmail" class="form-control" />
        <span asp-validation-for="CompanyEmail" class="text-danger"></span>
    </div>
   <div class="form-group">
        <label asp-for="AppUserId" class="control-label">Sorumlu</label>
        @Html.DropDownListFor(m=>m.AppUserId,(List<SelectListItem>)  ViewBag.AppUsers,"Seçiniz",new {@class="form-select", aria_label="AppUserId",@id="AppUserId", @required="required"})
        <span asp-validation-for="AppUserId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Industry" class="control-label">Sektör</label>
        @Html.DropDownListFor(model => model.Industry, (SelectList)ViewBag.IndustryTypes, "Seçiniz", new { @class = "form-control" })
        <span asp-validation-for="Industry" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EmployeeCount" class="control-label">Çalışan Sayısı</label>
        @Html.DropDownListFor(
        model => model.EmployeeCount,
        (IEnumerable<SelectListItem>)ViewBag.EmployeeCountSelectList,
        "Seçiniz",
        new { @class = "form-control" }
        )
        <span asp-validation-for="EmployeeCount" class="text-danger"></span>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>