@model CrmCorner.Models.Customer
@{
    ViewData["Title"] = "CustomerEdit";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}


<form asp-action="CustomerEdit" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" asp-items="@(ViewBag.StatusList != null ? new SelectList(ViewBag.StatusList) : Enumerable.Empty<SelectListItem>())" class="form-control"></select>
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>
        
        <div class="form-group">
        <label asp-for="IdEmployee" class="control-label">Responsible</label>
        @Html.DropDownListFor(m=>m.IdEmployee,(List<SelectListItem>) ViewBag.Employees,"Seçiniz",new {@class="form-select", aria_label="IdEmployee",@id="IdEmployee", @required="required"})
        <span asp-validation-for="IdEmployee" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
