
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomePageArea.cshtml";
}

<h1>Admin Paneline Hoşgeldiniz</h1>
    <!-- core js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

    <!-- page js file -->
    <script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>