@media screen and (max-width: 768px) {
    .container {
        padding-left: 5%;
        margin-top: 7%;
    }

    .custom-table {
        width: 100%;
    }

    .logotable {
        padding-left: 0;
    }

    .task input[type="text"] {
        margin-left: 10px;
        width: 70%;
    }

    button {
        width: 30%;
    }
}

/* Ekran genişliği 576 piksel veya daha küçük olduğunda uygulanacak stiller */
@media screen and (max-width: 576px) {
    .container {
        padding-left: 2%;
    }

    .custom-table {
        width: 100%;
    }

    .task input[type="text"] {
        margin-left: 5px;
        width: 60%;
    }

    button {
        width: 40%;
    }
}

/* Ekran genişliği 400 piksel veya daha küçük olduğunda uygulanacak stiller */
@media screen and (max-width: 400px) {
    .container {
        padding-left: 0;
    }

    .task input[type="text"] {
        margin-left: 0;
        width: 100%;
    }

    button {
        width: 100%;
    }
}
