@model PasswordChangeViewModel
@{
    ViewData["Title"] = "PasswordChange";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")


}

<div class="d-flex h100vh align-items-center auth-main w-100">
    <div class="auth-box">
        <div class="card shadow p-lg-4">
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-info" role="alert">
                    @TempData["SuccessMessage"]
                </div>

            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <i class="fa fa-exclamation-triangle me-2"></i>
                    @TempData["ErrorMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
            </div>

            <div class="card-header">
                <p class="fs-5 mb-0">Şifre Değiştir</p>
            </div>

            <div class="card-body">
                <form asp-controller="Member" asp-action="PasswordChange" method="post">
                 
                    <div class="form-floating mb-1">
                        <label asp-for="PasswordOld"></label>
                        <input type="password" asp-for="PasswordOld" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordOld"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <label asp-for="PasswordNew"></label>
                        <input type="password" asp-for="PasswordNew" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordNew"></span>
                    </div>
                    <div class="form-floating mb-1">
                        <label asp-for="PasswordNewConfirm"></label>
                        <input type="password" asp-for="PasswordNewConfirm" class="form-control">
                        <span class="text-danger" asp-validation-for="PasswordNewConfirm"></span>
                    </div>
                    <div class="my-3">
                        <button type="submit" class="btn btn-primary w-100 px-3 py-2 mb-2">Değiştir</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>