@model AdminModel.RoleCreateVM
@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomePageArea.cshtml";
}

<h1>Rol Oluşturma</h1>
<br />

<div class="row">
    <div class="col-md-4 offset-md-0">


        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <div class="card-body">
            <form asp-area="Admin" asp-controller="Roles" asp-action="roleCreate" method="post">
                <div class="form-floating mb-1">

                    <input asp-for="RoleName" class="form-control">
                    <label asp-for="RoleName">Role Adı</label>
                    <span class="text-danger" asp-validation-for="RoleName"></span>
                </div>


                <div class="my-3">
                    <button type="submit" class="btn btn-primary w-100 px-3 py-2 mb-2">Oluştur</button>
                </div>
                <div>
                    <a class="btn btn-outline-primary  w-100 px-3 py-2 mb-2" asp-action="RoleList"> Listeye Geri Dön </a>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>