@model AdminModel.RoleUpdateVM

@{
    ViewData["Title"] = "RoleUpdate";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomePageArea.cshtml";
}

<h1>Role Güncelleme</h1>

<div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
</div>
<div class="row">
    <div class="col-md-4 offset-md-0">


        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>
        <input asp-for="Id" type="hidden" />
        <div class="card-body">
            <form asp-area="Admin" asp-controller="Roles" asp-action="RoleUpdate" method="post">
                <div class="form-floating mb-1">

                    <input asp-for="Name" class="form-control">
                    <label asp-for="Name">Role Adı</label>
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>


                <div class="my-3">
                    <button type="submit" class="btn btn-primary w-100 px-3 py-2 mb-2">Güncelle</button>
                </div>
                <div>
                    <a class="btn btn-outline-primary  w-100 px-3 py-2 mb-2" asp-action="RoleList"> Listeye Geri Dön </a>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

