@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model ForgetPasswordViewModel
@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")


}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lucid HR & Project Admin Dashboard Template with Bootstrap 5x">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="~/CRMTema/bootstrap5/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="~/CRMTema/bootstrap5/dist/assets/css/main.css">
</head>

<body>

    <div id="layout" class="theme-cyan">
        <!-- WRAPPER -->
        <div id="wrapper">
            <div class="d-flex h100vh align-items-center auth-main w-100">
                <div class="auth-box">
                    <div class="card shadow p-lg-4">
                        <div class="card-header">
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    @TempData["SuccessMessage"]
                                </div>

                            }
                            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                            </div>
                            <p>Şifre sıfırlama talimatlarını almak için lütfen e-posta adresinizi aşağıya girin.</p>
                        </div>
                        <div class="card-body">
                            <form method="post" enctype="multipart/form-data" class="needs-validation" novalidate>
                                <div class="form-floating mb-1">
                                    <input type="email" asp-for="Email" class="form-control" placeholder="name@example.com">
                                    <label asp-for="Email"></label>
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <br />

                                <div>
                                <button type="submit" class="btn btn-primary w-100 px-3 py-2">Gönder</button>
                                </div>
                                <div class="text-center mt-3">
                                    <span class="helper-text">Şifreni hatırlıyor musun? <a asp-action="SignIn" asp-controller="Home">Giriş</a></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WRAPPER -->
    </div>
</body>
</html>

