@model List<CrmCorner.Models.AppUser>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
<style>
    .chart-title {
        text-align: center; /* Başlığı ortalar */
        margin-bottom: 10px; /* Başlık ile grafiği ayırmak için alt boşluk ekler */
        font-size: 24px; /* Başlık font boyutunu ayarlar */
        /* Daha fazla stil özelleştirmesi yapabilirsiniz */
    }
</style>

@if (!User.Identity!.IsAuthenticated)
{
    <div class="d-flex h100vh justify-content-center align-items-center">
        <div class="text-center">
            <article>
                <h1>Yakında yüklenecektir...</h1>
                <div>
                    <p>
                        Platformumuz henüz kullanıma hazır değildir. Eğer kullanıcı iseniz;
                    </p>
                    <p>&mdash; Crm Corner</p>
                </div>
            </article>
            <div class="margin-top-30">

                <a asp-action="SignIn" asp-controller="Home" class="btn btn-info"><i class="fa fa-home"></i> <span>Giriş Yapınız</span></a>
            </div>
        </div>
    </div>
}
else
{

   @* <a asp-action="Notifications" asp-controller="Home">Bildirimlerim</a>*@

    <div class="row g-2 clearfix row-deck">
        <div class="col-6">
            <div class="chart-title">Görevlerim</div>
            <div style="width: 50%; height: 400px;">
                <canvas id="userTaskStatusChart"></canvas>
           
            </div>
        </div>

        <div class="col-6">
            <h5>Görevlerin Durumlarına Göre Dağılımları</h5>
            <div style="width: 50%; height: 400px;">
                <canvas id="outcomeStatusChart"></canvas>
            </div>
        </div>


@*        <div class="col-6">
            <div class="card-header">
                <h6 class="card-title">Todo List</h6>
                <small>This Month task list</small>
            </div>
            <div class="card-body todo_list">
                <ul class="list-unstyled mb-0">
                    <li class="d-flex justify-content-between mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Surgical" checked>
                            <label class="form-check-label" for="Surgical">Surgical Ventricular Restoration</label>
                        </div>
                    </li>
                    <li class="d-flex justify-content-between mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Coronary">
                            <label class="form-check-label" for="Coronary">Coronary Revascularization</label>
                        </div>
                    </li>
                    <li class="d-flex justify-content-between mb-3">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Bladder">
                            <label class="form-check-label" for="Bladder">Bladder Cystectomy</label>
                        </div>
                    </li>
                    <li class="d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="Thoracic">
                            <label class="form-check-label" for="Thoracic">Thoracic Aortic Dissection Repair</label>
                        </div>
                    </li>
                </ul>
            </div>
        </div>*@


    </div>




}
<!-- core js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- page js file -->
<script src="~/CRMTema/bootstrap5/dist/assets/bundles/mainscripts.bundle.js"></script>

<script src="~/CRMTema/bootstrap5/js/pages/widgets/chart-widgets.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Home/UserTaskStatusChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var ctx = document.getElementById('userTaskStatusChart').getContext('2d');
                var colors = ['#2eacb3', '#FED049', '#2D6187', '#89BEB3', '#FF9A76', '#8bc3fe'];
                new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            data: data.data,
                            backgroundColor: colors,
                            borderWidth: 1
                        }]
                    },

                });
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        }); 
        
    });
    $(document).ready(function () {
        $.ajax({
            type: "GET",
            url: "/Home/OutcomeStatusChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var ctx = document.getElementById('outcomeStatusChart').getContext('2d');
                var colors = ['#cb8fe7', '#BA55D3', '#800080'];
                new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: [{
                            label: 'Görev Durumu',
                            data: data.data,
                            backgroundColor: colors,
                            borderWidth: 2,
                            barThickness: 30,
                        }]
                    },
                    //options: {
                    //    scales: {
                    //        yAxes: [{
                    //            ticks: {
                    //                beginAtZero: true
                    //            }
                    //        }]
                    //    }
                    //},
                });
            },
            error: function (error) {
                console.error('Error fetching data:', error);
            }
        });
    });


</script>


