
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body {
            height: 10%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #363636;
            background-size: cover;
            background-repeat: no-repeat;
        }

        h3 {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <a href="/Login/Login" target="_self">
        <button type="button" class="btn btn-warning">Login Page</button>
    </a>
  
</body>
</html>
