
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url('/themeforest-IV5IQlTa-lucid-hr-and-project-management-admin-template/bootstrap5/dist/assets/images/image-gallery/11.jpg'); /* Görselin dosya yolunu belirtin */
            background-size: cover;
            background-repeat: no-repeat;
        }

        h3 {
            font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h2>Hoşgeldiniz CRMCorner</h2>
    <a href="/Login/Login" target="_self">
        <button type="button" class="btn btn-sm btn-outline-secondary">
        Login Page</button>
    </a>
</body>
</html>
