
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ResetPasswordViewModel

@section Scripts
    {
    @await Html.PartialAsync("_ValidationScriptsPartial")


}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lucid HR & Project Admin Dashboard Template with Bootstrap 5x">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="/CRMTema/bootstrap5/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/CRMTema/bootstrap5/dist/assets/css/main.css">
</head>

<body>

    <div id="layout" class="theme-cyan">
        <!-- WRAPPER -->
        <div id="wrapper">
            <div class="d-flex h100vh align-items-center auth-main w-100">
                <div class="auth-box">
                    <div class="card shadow p-lg-4">
                        <h2>Yeni şifre oluşturma</h2>

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
                        </div>

                        <div class="card-header">
                            <p class="fs-5 mb-0">Hesap Oluştur</p>
                        </div>
                        @if (TempData["SuccessMessage"] != null)
                        {
                            <div class="alert alert-info" role="alert">
                                @TempData["SuccessMessage"]
                            </div>

                        }
                        <div class="card-body">
                            <form asp-controller="Home" asp-action="ResetPassword" method="post">
 
                                <div class="form-floating mb-1">
                                    <label asp-for="Password"></label>
                                    <input type="password" asp-for="Password" class="form-control">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-floating mb-1">
                                    <label asp-for="PasswordConfirm"></label>
                                    <input type="password" asp-for="PasswordConfirm" class="form-control">
                                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                                </div>
                                <div class="my-3">
                                    <button type="submit" class="btn btn-primary w-100 px-3 py-2 mb-2">Şifre Yenile</button>
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WRAPPER -->
    </div>
</body>
</html>



