@model SignUpViewModel
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sign Up</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Lucid HR & Project Admin Dashboard Template with Bootstrap 5x">
    <meta name="author" content="WrapTheme, design by: ThemeMakker.com">

    <link rel="icon" href="/CCTema/bootstrap5/dist/horizontal/favicon.ico" type="image/x-icon">
    <!-- VENDOR CSS -->
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/CCTema/bootstrap5/dist/assets/css/main.css">
</head>

<body>

    <div id="layout" class="theme-cyan">
        <!-- WRAPPER -->
        <div id="wrapper">
            <div class="d-flex h100vh align-items-center auth-main w-100">
                <div class="auth-box">
                    <div class="card shadow p-lg-4">

                        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">

                        </div>

                        <div class="card-header">
                            <p class="fs-5 mb-0">Hesap Oluştur</p>
                        </div>
                        <div class="card-body">
                            <form asp-controller="Home" asp-action="SignUp" method="post">
                                <div class="form-floating mb-1">
                                    <label asp-for="UserName"></label>
                                    <input asp-for="UserName" class="form-control">
                                    <span class="text-danger" asp-validation-for="UserName"></span>
                                </div>
                                <div class="form-floating mb-1">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-floating mb-1">
                                    <label asp-for="Phone"></label>
                                    <input asp-for="Phone" class="form-control">
                                    <span class="text-danger" asp-validation-for="Phone"></span>
                                </div>
                                <div class="form-floating mb-1">
                                    <label asp-for="Password"></label>
                                    <input asp-for="Password" class="form-control">
                                    <span class="text-danger" asp-validation-for="Password"></span>
                                </div>
                                <div class="form-floating mb-1">
                                    <label asp-for="PasswordConfirm"></label>
                                    <input asp-for="PasswordConfirm" class="form-control">
                                    <span class="text-danger" asp-validation-for="PasswordConfirm"></span>
                                </div>
                                <div class="my-3">
                                    <button type="submit" class="btn btn-primary w-100 px-3 py-2 mb-2">KAYIT OL</button>
                                    <span>Zaten hesabın var mı? <a href="page-login.html">Giriş</a></span>
                                </div>
                            </form>
                            @*     <div class="d-grid gap-2 mt-3 pt-3">
                            <div class="text-center"><span>VEYA</span></div>
                            <button class="btn btn-light"><i class="fa fa-facebook-official"></i> Facebook ile Kayıt Ol</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END WRAPPER -->
    </div>
</body>
</html>

